
@{
    ViewBag.Title = "Admin_Error";
}
<html>
<head>
    <meta http-equiv="Refresh" content="3;url=/student/studentdetails" />
</head>
<body>
    <h2>Access Denied Please Login As Admin</h2>

    <a href="/student/studentdetails">
        <input type="button" value="Back" class="btn btn-danger" />
    </a>

</body>
</html>
