@Styles.Render("~/Content/css")
@{
    Layout = null;
}
<html>
<head>
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    <meta http-equiv="Refresh" content="2.5;url=/admin/index" />
</head>
<body>
    
    <h2 class="text-success text-center ">Successfully Loggedout</h2>
</body>
</html>



