
@{
    ViewBag.Title = "Nostudent";
}



@Styles.Render("~/Content/css")

<html>
<head>
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    <meta http-equiv="Refresh" content="3;url=/admin/index" />
</head>
<body>


    <h2><p class="text-success text-center">No Student Requested for registration</p></h2>

</body>
</html>




