
@{
    ViewBag.Title = "successfulltadded";
}
<link href="~/Content/Index.css" rel="stylesheet" type="text/css" />
@Styles.Render("~/Content/css")


<html>
<head>
    <meta http-equiv="Refresh" content="2;url=/admin/index" />
</head>
<body>

    <h2 class="text-dark text-center success-message" > Student Successfully Added</h2>
 
</body>
</html>






