
@{
    ViewBag.Title = "sucessfullyupdated";
}
<link href="/Content/Index.css")" rel="stylesheet" type="text/css" />
@Styles.Render("~/Content/css")


<html>
<head>
    <meta http-equiv="Refresh" content="2;url=/admin/index" />
</head>
<body>

    <h2 class="text-success text-center success-message"> Student Successfully Updated</h2>

</body>
</html>










