
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to placement Management System</title>
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
</head>
<body class="index-body">
    <div class="main-title">
        <center class="text-dark title-text">Welcome to placements Managent System</center>
    </div>
   
        
       
            <div class="index row-12">
                <center>
                    <a href="/admin/login">

                        <img class="col index-img" src="~/Content/images/admin.gif" />
                    </a>
                    <a href="/student/login">
                        <img class="col index-img" src="~/Content/images/student.jpg" />
                     </a>


                </center>

                
           </div>
   
        
        
  
</body>
</html>
